<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709095117662-k35juagf7ihkae81tfm9si43jkg7g177.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709095117662-k35juagf7ihkae81tfm9si43jkg7g177</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>709095117662-1batvuovr6j923r350ahkqfs05b937ab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-0xxJoocXGfPss2iYH-znAsEhKlgNW0</string>
	<key>GCM_SENDER_ID</key>
	<string>709095117662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tauhee56.travesocial</string>
	<key>PROJECT_ID</key>
	<string>travel-app-3da72</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-3da72.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709095117662:ios:52d8a204820da0ec17f5cf</string>
</dict>
</plist>
